_jadefiles/body.jade
body
  .hero.hero-background
    .hero-container
      aside.profile-card
        .card-header
          a(target='_blank', href='#')
            img.hoverZoomLink(src='http://lorempixel.com/150/150/people/')
          h1 Pedro
          h2 Alguma coisa
        .profile-bio
          p Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica
        ul.social-links
          li
            a(target='_blank', href='https://www.facebook.com/creativedonut')
              i.fa.fa-facebook
          li
            a(target='_blank', href='https://twitter.com/dropyourbass')
              i.fa.fa-twitter
          li
            a(target='_blank', href='https://github.com/vipulsaxena')
              i.fa.fa-github
          li
            a(target='_blank', href='https://www.behance.net/vipulsaxena')
              i.fa.fa-behance
  .arrow.arrow-1
  .arrow.arrow-2
  .work
  .content
    section.projetos.grid
      .intro
        .nugget.nugget-small Oi, eu sou o Pedro!
        .divider
        p.intro-text.text-medium-gray  Nor, at the time, had it failed to enter his monomaniac mind, that all the anguish of that then present suffering was but the direct issue of a former woe; and he too plainly seemed to see, that as the most poisonous reptile of the marsh perpetuates his kind as inevitably as the sweetest songster of the grove; so, equally with every felicity, all miserable events do naturally beget their like. Yea, more than equally.
      .third.project
        img.project-thumbnail(src='/assets/img/ciclosonar.png')
        .project-info
          .title-hover.nugget.text-white.txt-center Ciclosonar
          .divider-white
          .p.tags-hover.text-white.txt-center Arduino, Cicloativismo, Intervenção Urbana, Codigo Aberto
      .third.project
        img.project-thumbnail(src='/assets/img/contador.png')
        .project-info
          .title-hover.nugget.text-white.txt-center Contador de Ciclistas
          .divider-white
          .p.tags-hover.text-white.txt-center Arduino, Cicloativismo, Intervenção Urbana, Codigo Aberto
      .third.project
        img.project-thumbnail(src='/assets/img/mausmotoristas.png')
        .project-info
          .title-hover.nugget.text-white.txt-center Maus Motoristas
          .divider-white
          .p.tags-hover.text-white.txt-center Arduino, Cicloativismo, Intervenção Urbana, Codigo Aberto
      .third.project
        img.project-thumbnail(src='/assets/img/icone512.png')
        .project-info
          .title-hover.nugget.text-white.txt-center DeOlho
          .divider-white
          .p.tags-hover.text-white.txt-center Arduino, Cicloativismo, Intervenção Urbana, Codigo Aberto
      .third.project
        img.project-thumbnail(src='/assets/img/nalama.png')
        .project-info
          .title-hover.nugget.text-white.txt-center NaLama
          .divider-white
          .p.tags-hover.text-white.txt-center Arduino, Cicloativismo, Intervenção Urbana, Codigo Aberto
  .work
  .content
    section.conhecimento.grid
      .nugget.nugget-small.txt-center Conhecimentos
      #wrapper.center
        svg.progress.red.noselect(data-progress='80', x='0px', y='0px', viewbox='0 0 776 628')
          path.track(d='M723 314L543 625.77 183 625.77 3 314 183 2.23 543 2.23 723 314z')
          path.fill(d='M723 314L543 625.77 183 625.77 3 314 183 2.23 543 2.23 723 314z')
          text.value(x='50%', y='61%') 0%
          text.text(x='50%', y='122%') HTML5
        svg.progress.red.noselect(data-progress='70', x='0px', y='0px', viewbox='0 0 776 628')
          path.track(d='M723 314L543 625.77 183 625.77 3 314 183 2.23 543 2.23 723 314z')
          path.fill(d='M723 314L543 625.77 183 625.77 3 314 183 2.23 543 2.23 723 314z')
          text.value(x='50%', y='61%') 0%
          text.text(x='50%', y='122%') CSS3
        svg.progress.red.noselect(data-progress='60', x='0px', y='0px', viewbox='0 0 776 628')
          path.track(d='M723 314L543 625.77 183 625.77 3 314 183 2.23 543 2.23 723 314z')
          path.fill(d='M723 314L543 625.77 183 625.77 3 314 183 2.23 543 2.23 723 314z')
          text.value(x='50%', y='61%') 0%
          text.text(x='50%', y='122%') Arduino
        svg.progress.red.noselect(data-progress='50', x='0px', y='0px', viewbox='0 0 776 628')
          path.track(d='M723 314L543 625.77 183 625.77 3 314 183 2.23 543 2.23 723 314z')
          path.fill(d='M723 314L543 625.77 183 625.77 3 314 183 2.23 543 2.23 723 314z')
          text.value(x='50%', y='61%') 0%
          text.text(x='50%', y='122%') PCB Design
        svg.progress.red.noselect(data-progress='40', x='0px', y='0px', viewbox='0 0 776 628')
          path.track(d='M723 314L543 625.77 183 625.77 3 314 183 2.23 543 2.23 723 314z')
          path.fill(d='M723 314L543 625.77 183 625.77 3 314 183 2.23 543 2.23 723 314z')
          text.value(x='50%', y='61%') 0%
          text.text(x='50%', y='122%') JS

_includes/body.html
<body><div class="hero hero-background"><div class="hero-container"><aside class="profile-card"><div class="card-header"><a target="_blank" href="#"><img src="http://lorempixel.com/150/150/people/" class="hoverZoomLink"/></a><h1>Pedro</h1><h2>Alguma coisa</h2></div><div class="profile-bio"><p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica</p></div><ul class="social-links"><li><a target="_blank" href="https://www.facebook.com/creativedonut"><i class="fa fa-facebook"></i></a></li><li><a target="_blank" href="https://twitter.com/dropyourbass"><i class="fa fa-twitter"></i></a></li><li><a target="_blank" href="https://github.com/vipulsaxena"><i class="fa fa-github"></i></a></li><li><a target="_blank" href="https://www.behance.net/vipulsaxena"><i class="fa fa-behance"></i></a></li></ul></aside></div></div><div class="arrow arrow-1"></div><div class="arrow arrow-2"></div><div class="work"></div><div class="content"><section class="projetos grid"><div class="intro"><div class="nugget nugget-small">Oi, eu sou o Pedro!</div><div class="divider"></div><p class="intro-text text-medium-gray"> Nor, at the time, had it failed to enter his monomaniac mind, that all the anguish of that then present suffering was but the direct issue of a former woe; and he too plainly seemed to see, that as the most poisonous reptile of the marsh perpetuates his kind as inevitably as the sweetest songster of the grove; so, equally with every felicity, all miserable events do naturally beget their like. Yea, more than equally.</p></div><div class="third project"><img src="/assets/img/ciclosonar.png" class="project-thumbnail"/><div class="project-info"><div class="title-hover nugget text-white txt-center">Ciclosonar</div><div class="divider-white"></div><div class="p tags-hover text-white txt-center">Arduino, Cicloativismo, Intervenção Urbana, Codigo Aberto</div></div></div><div class="third project"><img src="/assets/img/contador.png" class="project-thumbnail"/><div class="project-info"><div class="title-hover nugget text-white txt-center">Contador de Ciclistas</div><div class="divider-white"></div><div class="p tags-hover text-white txt-center">Arduino, Cicloativismo, Intervenção Urbana, Codigo Aberto</div></div></div><div class="third project"><img src="/assets/img/mausmotoristas.png" class="project-thumbnail"/><div class="project-info"><div class="title-hover nugget text-white txt-center">Maus Motoristas</div><div class="divider-white"></div><div class="p tags-hover text-white txt-center">Arduino, Cicloativismo, Intervenção Urbana, Codigo Aberto</div></div></div><div class="third project"><img src="/assets/img/icone512.png" class="project-thumbnail"/><div class="project-info"><div class="title-hover nugget text-white txt-center">DeOlho</div><div class="divider-white"></div><div class="p tags-hover text-white txt-center">Arduino, Cicloativismo, Intervenção Urbana, Codigo Aberto</div></div></div><div class="third project"><img src="/assets/img/nalama.png" class="project-thumbnail"/><div class="project-info"><div class="title-hover nugget text-white txt-center">NaLama</div><div class="divider-white"></div><div class="p tags-hover text-white txt-center">Arduino, Cicloativismo, Intervenção Urbana, Codigo Aberto</div></div></div></section></div><div class="work"></div><div class="content"><section class="conhecimento grid"><div class="nugget nugget-small txt-center">Conhecimentos</div><div id="wrapper" class="center"><svg data-progress="80" x="0px" y="0px" viewbox="0 0 776 628" class="progress red noselect"><path d="M723 314L543 625.77 183 625.77 3 314 183 2.23 543 2.23 723 314z" class="track"></path><path d="M723 314L543 625.77 183 625.77 3 314 183 2.23 543 2.23 723 314z" class="fill"></path><text x="50%" y="61%" class="value">0%</text><text x="50%" y="122%" class="text">HTML5</text></svg><svg data-progress="70" x="0px" y="0px" viewbox="0 0 776 628" class="progress red noselect"><path d="M723 314L543 625.77 183 625.77 3 314 183 2.23 543 2.23 723 314z" class="track"></path><path d="M723 314L543 625.77 183 625.77 3 314 183 2.23 543 2.23 723 314z" class="fill"></path><text x="50%" y="61%" class="value">0%</text><text x="50%" y="122%" class="text">CSS3</text></svg><svg data-progress="60" x="0px" y="0px" viewbox="0 0 776 628" class="progress red noselect"><path d="M723 314L543 625.77 183 625.77 3 314 183 2.23 543 2.23 723 314z" class="track"></path><path d="M723 314L543 625.77 183 625.77 3 314 183 2.23 543 2.23 723 314z" class="fill"></path><text x="50%" y="61%" class="value">0%</text><text x="50%" y="122%" class="text">Arduino</text></svg><svg data-progress="50" x="0px" y="0px" viewbox="0 0 776 628" class="progress red noselect"><path d="M723 314L543 625.77 183 625.77 3 314 183 2.23 543 2.23 723 314z" class="track"></path><path d="M723 314L543 625.77 183 625.77 3 314 183 2.23 543 2.23 723 314z" class="fill"></path><text x="50%" y="61%" class="value">0%</text><text x="50%" y="122%" class="text">PCB Design</text></svg><svg data-progress="40" x="0px" y="0px" viewbox="0 0 776 628" class="progress red noselect"><path d="M723 314L543 625.77 183 625.77 3 314 183 2.23 543 2.23 723 314z" class="track"></path><path d="M723 314L543 625.77 183 625.77 3 314 183 2.23 543 2.23 723 314z" class="fill"></path><text x="50%" y="61%" class="value">0%</text><text x="50%" y="122%" class="text">JS</text></svg></div></section></div></body>
